canvas {
    width: 100vw;
    height: 100vh;
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
}
.container-fluid {
    max-width: 1000px;
}
text {
    color: white
}
a {
    /* opacity: 0.5 */
    color: rgb(210, 210, 210);
}
a:hover {
    color: white;
    opacity: 1;
}
a.btn:hover { 
    background-color: black; 
    color: white;
}
.bg {
    background-color: black;
}
.padding-top {
    padding-top: 40px;
}
h1 {
    font-weight: normal;
    font-style: normal;
    color: rgb(210, 210, 210);
    justify-content: center;
}
h2 {
    font-weight: normal;
    font-style: normal;
    color: rgb(210, 210, 210);
    justify-content: center;
}
h3 {
    color: rgb(210, 210, 210);
}
h4 {
    color: rgb(210, 210, 210);
}
p {
    color: rgb(210, 210, 210);
}
.btn  {
    color: black;
}
#page-title {
    display: flex;
    justify-content: center;
    vertical-align: center;
    align-items: center;
}
#title-content {
    flex: 0 0 240px;
}
#front-page-filler {
    height: 100vh;
}
#projects-sub-section {
    display: flex;
    background-color: rgba(23, 23, 23, 0.447);
}
.video-container {
    position: relative;
    width: 80%; /* 80% of the parent container's width */
    height: 0; /* Height will be determined by the aspect ratio */
    padding-bottom: 45.0%;
    margin: 0 auto;
    text-align: center;
    overflow: hidden; /* Ensure the video doesn't overflow */
}
.video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
}
.nested-gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
}
.gallery-item-quarter {
    padding: 1%;
    flex-basis: calc(25% - 2%);
    text-align: center;
    display: flex;
    flex-direction: column;
}
.gallery-item-half {
    padding: 1%;
    flex-basis: calc(50% - 2%);
    text-align: center;
    display: flex;
    flex-direction: column;
}
.gallery-item-full {
    flex-basis: calc(100%);
    text-align: center;
    display: flex;
    flex-direction: column;
}
.gallery-item-full img, .gallery-item-full video {
    width: 100%;
    height: auto;
    object-fit: cover;
}
.gallery-item-quarter img, .gallery-item-quarter video, .gallery-item-half img, .gallery-item-half video {
    width: 100%;
    height: auto;
    aspect-ratio: 1 / 1;
    object-fit: cover;
}
.gallery-caption {
    margin-top: 2px;
    color: rgb(125, 132, 139);
    font-size: 14px;
    text-align: left;
}
.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
}
.button-image {
    width: 75%;
    max-width: 500px;
    aspect-ratio: 3/2;
    display: inline-block;
    text-decoration: none;
    background-image: url('assets/repo-riot.png');
    background-size: cover;
    padding: 20px 30px;
    color: white;
    border-radius: 8px;
    text-align: center;
    transition: transform 0.3s ease;
}
.button-image:hover {
    transform: scale(1.05);
}
.project {
    text-align: center;
}
.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f900;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown .dropbtn {
    color: rgb(210, 210, 210);
    background-color: #3e8e4100;
    border: 0px;
}

.dropbtn:hover {
    color: white;
    opacity: 1;
}

  /* Style for the fixed link */
.fixed-top-link {
    position: fixed;
    bottom: 20px; /* Adjust this value to position the link */
    right: 20px; /* Adjust this value to position the link */
    background-color: #1c1c1c;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    font-size: 16px;
    z-index: 1000; /* Ensure the link appears above other content */
}
.project-section {
    min-height: 100vh;
}
.text-section {
    background-color: rgba(0, 0, 0, 0.132);
}